@media screen and (min-width:480px){

  #navegador ul{
     list-style-type: none;
     text-align: center;
     position : absolute;
     right: 15px;
     font-size: 15px;
  }

  #navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;

}

#navegador li a {
 padding: 1px 1px 1px 1px;
 color: #484848;
 background-color: white;
 text-decoration: none;
}

#navegador li a:hover{
   background-color: #fde3d9;
   color: #ff6b6b;
}

  .container{
  display: grid;
  grid-template-columns: 35% 23% 23%;
  grid-template-rows: 100px 200px 200px 200px 60px ;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 10px;
  grid-gap: 20px; /*espacio entre columnas y filas*/
  background-color: white;
}


.container{
  @fontface
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
  color: #484848;
}

h1{
  font-weight: bold;
  text-transform: uppercase;
}

 h2{
   font-weight: bold;
 }


img{
  display: block;
  width: 100%;
  height: auto;
}

.description{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 1em;
  background-color: white;
}

.datos {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1em;
  background-color: #ff6b6b;

  }


.contacto {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1em;
  background-color: #ff6b6b;
  }

.containerimg{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: auto;
  padding: 1em;
  background-color: white;
  }

.contenido {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1em;
  background-color: white;
}

.wrapper{
        margin: 47px auto;
        max-width:580px;
}

#formulariocontacto{
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        background: #F9F9F9;
        padding: 20px;
}

#ff label{
       cursor: pointer;
       margin: 4px 0;
       color: #ed7700;
       display: block;
       font-weight: 800;
}

input, textarea{
       display: block;
       width: 90%;
       border-radius: 4px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       background-color: #fde3d9;
       color: #000;
       border: 1px solid #fde3d9;
       padding: 10px;
       margin-bottom: 25px;
}
